<?xml version="1.0"?>
<config>
    <modules>
        <Sysint_SimpleSlider>
            <version>0.1.0</version>
        </Sysint_SimpleSlider>
    </modules>
    <global>
        <blocks>
            <sysint_simpleslider>
                <class>Sysint_SimpleSlider_Block</class>
            </sysint_simpleslider>
        </blocks>
        <helpers>
            <sysint_simpleslider>
                <class>Sysint_SimpleSlider_Helper</class>
            </sysint_simpleslider>
        </helpers>
        <models>
            <sysint_simpleslider>
                <class>Sysint_SimpleSlider_Model</class>
                <resourceModel>sysint_simpleslider_resource</resourceModel>
            </sysint_simpleslider>
            <sysint_simpleslider_resource>
                <class>Sysint_SimpleSlider_Model_Resource</class>
                <entities>
                    <slider>
                        <table>sysint_simpleslider_slider</table>
                    </slider>
                </entities>
            </sysint_simpleslider_resource>
        </models>
        <resources>
            <sysint_simpleslider_setup>
                <setup>
                    <module>Sysint_SimpleSlider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sysint_simpleslider_setup>
            <sysint_simpleslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sysint_simpleslider_write>
            <sysint_simpleslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sysint_simpleslider_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sysint_simpleslider before="Mage_Adminhtml">Sysint_SimpleSlider_Adminhtml</sysint_simpleslider>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sysint_simpleslider>
                    <file>sysint/simpleslider/slider.xml</file>
                </sysint_simpleslider>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <sysint_simpleslider>
                    <file>sysint/simple_slider.xml</file>
                </sysint_simpleslider>
            </updates>
        </layout>
    </frontend>
    <default>
        <sysint_simpleslider>
            <general>
                <enabled>0</enabled>
            </general>
            <extension>
                <image_allowed>
                    <jpg>1</jpg>
                    <jpeg>1</jpeg>
                    <png>1</png>
                    <gif>1</gif>
                </image_allowed>
            </extension>
        </sysint_simpleslider>
    </default>
</config>